<link rel="stylesheet" href="../../../css/common.css" charset="utf-8">

<style>
	li{
		position:relative;
		width:25%;
		float:left;
		background:url('../../../css/images/route.png');
	    background-repeat: no-repeat;
    	background-position: center;
	}
	li>div{
		margin:10px;
		height:46px;
		margin-top:15px;
		border:1px solid #4077ae;
		border-radius:6px;
		text-align:center;
		padding-top:38px;
		padding-bottom:8px;
		font-size:12px;
		color:#eee;
		cursor:pointer;
	    background: rgba(22, 29, 26, 0.64);
	}
	li>div:hover{
		background-color:rgba(64, 119, 174, 0.4);
	}
	li span{
	    top: 30px;
    	position: relative;
	}
	.select>div::before{
		content:'';
   		position: absolute;
    	right: 10px;
        top: 30px;
	    width:24px;
	    height:24px;
	    background:url('../../../css/images/selectm.png')no-repeat;
	}
</style>
<div id="modelcontainer">
	<div class="vbox box-con">
		<div class="vbox hz-col-1">
			<div class="hz-col-8 vbox" style="overflow-y: scroll;">
				<ul  v-cloak >
					<div v-if="patrol.length==0" class="empty">暂无记录</div>
					<li v-for="c in patrol"  data-route="{{c.id}}"  data-speed="{{c.speed}}"  data-height="{{c.height}}" data-radius="{{c.radius}}">
						<div>
							<span>{{c.name}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="bottom" style="height:30px">
			<div class="buttons" id="oprs">
					<a class="hbtn btn_primary btn_mini"><i class="btn_icon icon_save"></i><span>开始巡视</span></a>		  
			</div>
		</div> 
	</div>
	<div id="mainopr"  style="display:none;" >
		<a class="hbtn btn_primary btn_mini pause"    @click="stop($event)" style="display:none;"></a>
		<a class="hbtn btn_primary btn_mini over"  title="关闭" @click="over($event)" style="right:0px;display:none;"></a>
		<ul style="display:none;"></ul>
	</div>
</div>
<script type="text/javascript" src="../../../js/require.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script>
require(["hz/cds/3Dpatrol/patrol"]);
</script>